
@font-face {
	font-family: 'pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}


@font-face {
	font-family:'jalnan';
	src: url('../font/Jalnan.ttf');
	font-style: normal;
}

