@media (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

/* 폰트 */

.col-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

/* 헤더 */

header {
  position: absolute;
  bottom: 0px;
  z-index: 999;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 타이틀 */

h1,h2,h3,h4,h5,h6 {
  font-family: "nanumsquare";
  font-weight: 700;
}

h1,.h1 {
  font-size: 3.75rem;
  line-height: 1;
  line-height: 150%;
}

h2,.h2 {
  font-size: 3rem;
  line-height: 1;
  line-height: 150%;
}

h3,.h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  line-height: 150%;
}

h4,.h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 150%;
}

h5,.h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 150%;
}

h6,.h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 150%;
}

@media (max-width: 1300px) {
  h1, .h1 {
    font-size: calc(3rem + 0.5vw) !important;
  }

  h2, .h2 {
    font-size: calc(2.25rem + 0.5vw) !important;
  }

  h3, .h3 {
    font-size: calc(1.875rem + 0.5vw) !important;
  }

  h4, .h4 {
    font-size: calc(1.5rem + 0.5vw) !important;
  }

  h5, .h5 {
    font-size: calc(1.25rem + 0.5vw) !important;
  }
}

/* 
.gradient1{@apply bg-gradient-to-b from-[#05CD82] to-[#000EFF]; }
.gradient2{@apply bg-gradient-to-b from-[#A259FF] to-[#000EFF]; } */

/* 버튼 */

.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  border-radius: 0.375rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* 햄버거 바 */

.btn_menu_btn.on .menu_icon {
  --tw-bg-opacity: 1;
  background-color: rgb(3 89 78 / var(--tw-bg-opacity));
}

.btn_menu_btn.on .menu_icon:before {
  top: 0px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.btn_menu_btn.on .menu_icon:after {
  bottom: 0px;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* 섹션0 */

#section_0 {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #fff;
  --tw-gradient-to: rgb(255 255 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #36ac695e;
}

/* 섹션2 */

#section_2 >.container.graghic {
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
  align-self: stretch;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 640px) {
  #section_2 >.container.graghic {
    margin-top: 2.25rem;
    display: flex;
  }
}

#section_2 .container .graphic ul:first-child li {
  margin-right: 1rem;
}

@media (min-width: 640px) {
  #section_2 .container .graphic ul:first-child li {
    margin-right: 0px;
  }
}

#section_2 .container .graphic ul li {
  width: 100%;
}

#section_2 .container .graphic ul li a {
  position: relative;
  margin: auto;
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(4 111 97 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(4 111 97 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#section_2 .container .graphic ul li a:hover {
  --tw-rotate: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-shadow: 0px 12px 30px rgba(19, 26, 21, 0.18);
  --tw-shadow-colored: 0px 12px 30px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  #section_2 .container .graphic ul li a {
    width: 200px;
    font-size: 22px;
  }
}

.go_site .button_stroke, .go_site .button {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 100px);
  z-index: 10;
  display: none;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.go_site:hover::after, .go_site:hover .button {
  display: block;
  opacity: 1;
}

/* 푸터 */

.moveforever {
  left: 0px;
  bottom: 2rem;
  width: -moz-max-content;
  width: max-content;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.z-\[999\] {
  z-index: 999;
}

.m-0 {
  margin: 0px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-\[444px\] {
  height: 444px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[54px\] {
  height: 54px;
}

.h-14 {
  height: 3.5rem;
}

.h-\[164px\] {
  height: 164px;
}

.h-\[198px\] {
  height: 198px;
}

.h-\[518px\] {
  height: 518px;
}

.h-\[92px\] {
  height: 92px;
}

.h-\[93px\] {
  height: 93px;
}

.h-\[244px\] {
  height: 244px;
}

.h-\[52px\] {
  height: 52px;
}

.h-10 {
  height: 2.5rem;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-\[668px\] {
  width: 668px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[197px\] {
  width: 197px;
}

.w-\[218px\] {
  width: 218px;
}

.w-\[331px\] {
  width: 331px;
}

.w-\[369\.33px\] {
  width: 369.33px;
}

.w-\[414px\] {
  width: 414px;
}

.w-40 {
  width: 10rem;
}

.w-\[434px\] {
  width: 434px;
}

.w-\[386\.67px\] {
  width: 386.67px;
}

.w-\[433\.33px\] {
  width: 433.33px;
}

.w-\[117\.11px\] {
  width: 117.11px;
}

.w-10 {
  width: 2.5rem;
}

.w-80 {
  width: 20rem;
}

.flex-grow {
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-\[54px\] {
  gap: 54px;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[30px\] {
  gap: 30px;
}

.self-stretch {
  align-self: stretch;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[1000px\] {
  border-radius: 1000px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.rounded-tl-md {
  border-top-left-radius: 0.375rem;
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-r {
  border-right-width: 1px;
}

.border-\[\#f8f9fa\] {
  --tw-border-opacity: 1;
  border-color: rgb(248 249 250 / var(--tw-border-opacity));
}

.border-\[\#a91d38\] {
  --tw-border-opacity: 1;
  border-color: rgb(169 29 56 / var(--tw-border-opacity));
}

.border-\[\#c77f8d\] {
  --tw-border-opacity: 1;
  border-color: rgb(199 127 141 / var(--tw-border-opacity));
}

.border-\[\#dee2e6\] {
  --tw-border-opacity: 1;
  border-color: rgb(222 226 230 / var(--tw-border-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#a91d38\]\/90 {
  background-color: rgb(169 29 56 / 0.9);
}

.bg-\[\#f8f9fa\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity));
}

.bg-\[\#383b44\] {
  --tw-bg-opacity: 1;
  background-color: rgb(56 59 68 / var(--tw-bg-opacity));
}

.bg-\[\#222328\] {
  --tw-bg-opacity: 1;
  background-color: rgb(34 35 40 / var(--tw-bg-opacity));
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-none {
  -o-object-fit: none;
     object-fit: none;
}

.p-9 {
  padding: 2.25rem;
}

.p-4 {
  padding: 1rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-\[46px\] {
  padding-left: 46px;
  padding-right: 46px;
}

.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pt-\[123px\] {
  padding-top: 123px;
}

.pt-\[80px\] {
  padding-top: 80px;
}

.pt-5 {
  padding-top: 1.25rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-\[46px\] {
  font-size: 46px;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#a91d38\] {
  --tw-text-opacity: 1;
  color: rgb(169 29 56 / var(--tw-text-opacity));
}

.text-\[\#a81c37\] {
  --tw-text-opacity: 1;
  color: rgb(168 28 55 / var(--tw-text-opacity));
}

.text-\[\#666\] {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}

.text-\[\#333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-\[\#c77f8d\] {
  --tw-text-opacity: 1;
  color: rgb(199 127 141 / var(--tw-text-opacity));
}

.text-\[\#1c1d1f\] {
  --tw-text-opacity: 1;
  color: rgb(28 29 31 / var(--tw-text-opacity));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(0 186 204 / var(--tw-text-opacity));
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@keyframes moveforever {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* 커스텀 스와이퍼 */

.swiper-pagination-bullet {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 15px;
  width: 15px;
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity));
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --tw-bg-opacity: 1;
  background-color: rgb(0 191 150 / var(--tw-bg-opacity));
}

/* popup_close */

.popup_close {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.8);
}

/* website */

.website img:first-child {
  margin-top: 0px;
}

.website img {
  margin-top: -0.25rem;
}

.tab_all.on .tag, .tab_all_m.on .tag {
  display: none;
}

.tab_all.on .tag_hover, .tab_all_m.on .tag {
  display: block;
}